* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.historiablue {
    color: #0C51A7;
    font-weight: bold;
}

.casais {
    color: #591B98;
    font-weight: bold;
}

.familias {
    color: #E5245E;
    font-weight: bold;
}

.orcamentos {
    color: #E95E10;
    font-weight: bold;
}

body {
    background-color: #F5F4F0;
}

#page {
    padding: 88px 0px 137px;
    margin: 0 auto;
    width: 1120px;
}

img {
    border-radius: 28px;
}

#contentlist hr {
    margin-top: 40px;
    margin-bottom: 64px;
    color: #D9D9D9;
}

#titlelist {
    margin-top: 64px;
    margin-bottom: 64px;
}

#titlelist h5 {
    margin-top: 0px;
}

#titlelist h2 {
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 32px;
}

#list h2 {
    font-size: 32px;
}

.destinoslista li {
    margin-bottom: 48px;
}

.destinoslista h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

.bompara li  {
    margin-bottom: 0px;
    margin-left: 24px;
    list-style-type: disc;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #D9D9D9;
}



.destinoslista {
    list-style-type: none;
}

h1 {
    color: #1B1B1B;
    font-size: 36px;
    font-weight: 1200;
}

h5 {
    color: #E1624F;
    font-size: 16px;
    font-weight: bold;
}

#titlepage h5 {
    margin-bottom: 8px;
}

#titlepage h1 {
    margin-bottom: 40px;
}

#titlelist h5 {
    margin-bottom: 2px;
}

#descriptionimage p {
    margin-top: 24px;
    margin-bottom: 44px;
    color: #333333;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

#description {
    color: #333333;
    text-align: center;
}

footer{
    color: #333333;
    text-align: center;
    padding-bottom: 48px;
    font-size: 16PX;
}

footer img {
    vertical-align: middle;
}